@{
    var MealName="";
    var MealType="";
    var Ratios="";
    var MealIngredients="";
    if(IsPost){
        MealName=Request["formName"];
        MealType=Request["formType"];
        Ratios=Request["formRatios"];
        MealIngredients=Request["formMealIngredients"];
        var sqlInsert = "INSERT INTO Meals (MealName,Type,Ratios,Ingredients) VALUES (@0,@1,@2,@3)";
        var db = Database.Open("food-tool");
        db.Execute(sqlInsert,MealName,MealType,Ratios,MealIngredients);
        Response.Redirect("meals.cshtml");
    }
}
<h1>Add New Meal</h1>
<form action="" method="post">
    <p>Meal Name:<br/><input type="text" name="formName" /></p>
    <p>Meal Type:<br/><input type="text" name="formType" /></p>
    <p>Ingredient Ratios:<br/><input type="text" name="formRatios" /></p>
    <p>Ingredients:<br/><input type="text" name="formMealIngredients" /></p>
    <p><input type="submit" value="Add Meal" /></p>
</form>