<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SOE Trip-Meal Planner</title>
        <link rel="stylesheet" type="text/css" href="food-tool-style.css"/>    
    </head>
    <body>
        <div id="header">
            <div id="banner">
                <h1><a href="index.cshtml">Stanford Outdoor Education Trip-Meal Planner</a></h1>
            </div>
            <div id="nav">
                <a href="trips.cshtml">Manage Trips</a>
                <a href="meals.cshtml">Manage Meals</a>
                <a href="ingredients.cshtml">Manage Ingredients</a>
                <a href="shoppinglist.cshtml">Shopping List</a>
                <a href="prepsheet.cshtml">Prep Sheet</a>
            </div>
        </div>