@{
    
}

        <div id="footer">
            This site is maintained by <a href="http://ericscrum.github.io">Eric Cramer</a> on behalf of SOE<br/>
            <a href="http://outdoored.stanford.edu/">Stanford Outdoor Education Website</a>
        </div>
    </body>
</html>
